header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
}

header img {
  display: flex;
  width: 150px;
}

a,
.mobile-nav {
  font-weight: 600;
  margin: 0; /* logo */
}

ul {
  display: none;
}

.fa-icon{
  height: 2rem;
  width: 2rem;
  color: #495E57;
}