nav {
  background-color: gray;
  padding: 1rem 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.nav-logo {
  height: 3rem;
}

.nav-items {
  background-color: darkgray;
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-item {
  background-color: darkolivegreen;
}