@media screen and (min-width: 768px) {

  .mobile-nav {
    display: none;
  }

  ul {
    display: flex;
    padding: 0;
    list-style: none;
    gap: 1rem;
  }

  li a:link,
  li a:visited {
    font-family: 'Karla', sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: black;
  }

  li a:hover,
  li a:active {
    color: #495E57;
    text-decoration: underline;
  }
}

@media screen and (min-width: 1920px) {

  header{
    width: 60%;
  }

  header img {
    width: 200px;
  }

  nav {
    margin: 0;
  }

  ul {
    gap: 3rem;
  }

  li a:link,
  li a:visited {
    font-size: 20px;
  }
}