@media screen and (min-width: 768px) {

  .mobile-nav,
  .mobile-nav-items {
    display: none;
  }

  .nav-menu {
    display: flex;
  }

  li a:link,
  li a:visited {
    font-size: 18px;
  }

  .nav-menu.active {
    display: none;
  }
}

@media screen and (min-width: 1920px) {

  header{
    width: 60vw;
  }

  header img {
    width: 200px;
  }

  nav {
    margin: 0;
  }

  ul {
    gap: 3rem;
  }

  li a:link,
  li a:visited {
    font-size: 20px;
  }
}