@media screen and (min-width: 768px) {

  .testimonials-section {
    margin: 2rem 0;
  }

  .testimonials-section h1 {
    font-size: 55px;
  }

  .testimonials-grid {
    width: 90vw;
    gap: 2rem;
  }

  .box {
    border-radius: 16px !important;
    padding: 1rem;
  }

  .inner-grid {
    padding: 0;
    gap: 1rem;
  }

  .rating {
    margin: 0;
  }

  .customer-info {
    justify-content: space-between;
  }

  #star {
    width: 2rem;
    height: auto;
    margin: 0;
  }

  #name {
    margin-top: 0.5rem;
    font-size: 24px;
  }

  .inner-grid p {
    font-size: 18px;
    padding: 0;
  }

}

@media screen and ((min-width: 1440px) and (max-width: 2560px)) {

  .testimonials-section {
    position: relative;
    z-index: 1;
    padding: 5rem 0;
    gap: 3rem;
    margin: 5rem 0;
  }

  .testimonials-section:before {
    content: " ";
    position: absolute;
    width: 90vw;
    height: 80%;
    opacity: 0.2;
    filter: brightness(60%);
    filter: blur(5px);
    z-index: -1;
    background: 3% / contain no-repeat url('../../../../images/logos/lemon_green.png');
  }

  .testimonials-section {
   background-image: url('../../../../images/circles.png');
   background-blend-mode: screen;
   background-position: 160vh -25vh;
   background-repeat: no-repeat;
   background-size: contain;
  }

  .testimonials-section h1 {
    font-size: 65px;
    margin: 0;
  }

  .testimonials-grid {
    grid-template-columns: repeat(4, 1fr);
    max-width: 60vw;
    gap: 0;
  }

  .box {
    max-width: 80%;
  }

  #name {
    font-size: 20px;
  }

  .inner-grid p {
    padding: 0;
    font-size: 18px;
    gap: 0;
  }
}