@media screen and (min-width: 768px) {

  fieldset {
    padding-top: 1rem;
    margin-bottom: 0.5rem;
  }

  select, label,
  label[for='fname'],
  [for='lname'],
  [for='email'],
  [for='phone'],
  [for='notes'] {
    font-size: 18px;
  }

  select {
    padding: 0.3rem 1rem;
  }

  .grid-helper {
    gap: 3rem;
  }

  .occasion-p {
    font-size: 18px;
    margin: 0;
  }

  .datetime-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    align-items: flex-start;
    height: 16vh;
  }

  label[for="time"] {
    margin: 1rem 0 0.5rem 0;
  }

  .date {
    grid-column: 1;
    display: block;
  }

  .datetime {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .option-grid {
    gap: 1rem;
  }

  .option-button {
    padding: 0.6rem 1rem;
    font-size: 16px;
  }

  label[for='fname'],
  [for='lname'],
  [for='email'],
  [for='phone'],
  [for='notes']{
  font-size: 18px;
}

  input[type="text"],
  [type="email"],
  [type="tel"] {
    padding: 0.5rem 0 0.5rem 0.5rem;
    font-size: 16px;
  }

  label[for="notes"] {
    margin-top: 1rem;
  }

  textarea {
    font-size: 16px;
  }

  .btn-div button {
    padding: 1rem 4rem;
    font-size: 18px;
  }

}

@media screen and (min-width: 1920px) {

  select, label,
  label[for='fname'],
  [for='lname'],
  [for='email'],
  [for='phone'],
  [for='notes'] {
    font-size: 20px;
  }

  #date {
    padding: 0.5rem 4rem;
  }

  fieldset h2 {
    font-size: 26px;
  }

  .vw-helper {
    width: 60vw;
    margin-bottom: 1rem;
  }

  .grid-helper {
    gap: 5rem;
  }

  .occasion-p {
    font-size: 20px;
  }

  .datetime-div {
    height: 23vh;
  }

  .option-button {
    padding: 0.8rem 1.2rem;
  }

  .btn-div button {
    padding: 1rem 5rem;
    font-size: 18px;
  }

}