#info-section {
  padding: 0.5rem;
  margin: 1rem auto;
  margin-bottom: 2rem;
}

.info-headers {
  margin: 1rem 0;
}

.info-headers h1 {
  font-family: 'Markazi Text', serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 0.5;
  color: #495E57;
}

.info-headers h2 {
  font-family: 'Markazi Text', serif;
  font-size: 30px;
  font-weight: 500;
  color: #333333;
}

.info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 1rem;
}

.info-p {
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.info-images {
  display: flex;
  width: 100%;
  position: relative;
}

#img1,
#img2 {
  width: 40%;
  height: 10rem;
  border-radius: 16px 16px 0 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -100px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#img1 {
  position: relative;
  background: left / cover no-repeat url('../../../images/brothers/brothers2.jpg');
  background-position: right;
  top: 1rem;
  right: 3rem;
}

#img2 {
  position: absolute;
  background: right / cover no-repeat url('../../../images/restaurant.jpg');
  background-position: left;
  top: 0;
  right: 3rem;
}